<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="keyLog.dao.MovielogMapper">
    <select id="selectAllMovielog" resultType="MovielogDto">
        SELECT * FROM movielog
    </select>
    <select id="detailMovielog" resultType="MovielogDto">
    	SELECT * FROM movielog WHERE no = #{no}
    </select>
    <insert id="insertMovielog" parameterType="MovielogDto">
 		insert  into movielog (title, releaseDate, genre, director, actor, viewDate, place, withwho, image_url, content, quote, search, star)
 		values
 		(#{title}, #{releaseDate}, #{genre}, #{director}, #{actor}, #{viewDate}, #{place}, #{withwho}, #{image_url}, #{content}, #{quote}, #{search}, #{star})
 	</insert>
 	<update id="updateMovielog" parameterType="MovielogDto">
 		update movielog set 
 					title=#{title},
					releaseDate=#{releaseDate},
					genre=#{genre},
					director=#{director},
					actor=#{actor},
					viewDate=#{viewDate},
					place=#{place},
					withwho=#{withwho},
					image_url=#{image_url},
					content=#{content},
					quote=#{quote}
					star=#{star}
			where no=#{no}
 	</update>
 	<select id="file_info" resultType="String">
 		select image_url from movielog
 		where no=#{no}
 	</select>
 	<delete id="deleteMovielog">
 		delete from movielog where no=#{no}
 	</delete>
</mapper>